<nav class="bg-white shadow-md">
  <div class="container mx-auto px-6 py-3">
    <div class="flex items-center justify-between">
      <div class="text-xl font-semibold text-gray-700">
        <a routerLink="/" class="text-gray-800 hover:text-gray-700">ApexRaffle</a>
      </div>
      <div class="flex items-center space-x-4">

        <ng-container *ngIf="authService.currentUserSig() !== undefined; else loadingTemplate">
          
          <ng-container *ngIf="authService.currentUserSig() as user; else guestView">
            
            <a routerLink="/gallery" class="text-gray-700 hover:text-gray-900">Galería</a>
            <a routerLink="/tickets" class="text-gray-700 hover:text-gray-900">Mis Boletos</a>
            
            <a *ngIf="user.role === 'admin'" routerLink="/admin" class="text-gray-700 hover:text-gray-900 font-bold text-blue-600">
              Panel de Admin
            </a>
            <a *ngIf="user.role === 'admin'" routerLink="/grafic" class="text-gray-700 hover:text-gray-900 font-bold text-blue-600">
              Gráficas de Ventas
            </a>

            <span class="text-gray-700">|</span>

            <span class="text-gray-700">Hola, {{ user.email }}</span>
            <button (click)="logout()" class="px-3 py-2 bg-red-500 text-white rounded hover:bg-red-600">
              Cerrar Sesión
            </button>
          </ng-container>

          <ng-template #guestView>
            <a routerLink="/gallery" class="text-gray-700 hover:text-gray-900">Galería</a>
            <a routerLink="/login" class="text-gray-700 hover:text-gray-900">Iniciar Sesión</a>
            <a routerLink="/register" class="px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
              Registrarse
            </a>
          </ng-template>

        </ng-container>

        <ng-template #loadingTemplate>
          <div class="px-3 py-2 text-gray-500">Cargando...</div>
        </ng-template>

      </div>
    </div>
  </div>
</nav>

<main class="p-4">
  <router-outlet></router-outlet>
</main>