<div class="bg-white p-6 rounded-lg shadow-md">
  <div *ngIf="isLoading" class="text-center text-gray-500 py-10">Cargando datos de la gráfica...</div>
  
  <div [hidden]="isLoading">
    <div class="flex justify-end space-x-2 mb-4">
      <button (click)="loadSalesData('day')" class="px-3 py-1 text-sm bg-blue-500 text-white rounded hover:bg-blue-600">Día</button>
      <button (click)="loadSalesData('week')" class="px-3 py-1 text-sm bg-blue-500 text-white rounded hover:bg-blue-600">Semana</button>
      <button (click)="loadSalesData('month')" class="px-3 py-1 text-sm bg-blue-500 text-white rounded hover:bg-blue-600">Mes</button>
    </div>
    
    <canvas #chart baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
    </canvas>
  </div>
</div>